.container {
  margin-top: 4rem;
  padding: .8rem;
}

.title {
  margin-left: 1.1rem;
  margin-bottom: .4rem;
}

.subtitle {
  margin-bottom: 1.8rem;
  margin-left: 1.1rem;
}

.full-width {
  width: 100%;
}

.margin-left {
  margin-left: 1rem;
}

.button-width {
  min-width: 13rem;
}

button {
  margin-right: .9rem;
}

button i {
  margin-right: .8rem;
}